<!DOCTYPE html>
<html lang="en" ng-app="helloMod">
<head>
    <meta charset="UTF-8">
    <title>form-validate</title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="container" ng-controller="HelloCtrl">
<!--当你在form上增加name属性后，在当前form表单所属的scope上多了一个跟name属性相同的$name属性：userform-->
<form action="" name="userform" novalidate>
    <div class="form-group"  ng-class="{'has-error':userform.password.$invalid && userform.password.$dirty}">
        <label for="password" class="control-label">密码</label>
        <input id="password" type="password" name="password" class="form-control" ng-minlength="3" ng-model="user.password" ng-required="">

        <p class="help-block" ng-show="userform.password.$error.minlength">
            最小长度为3
        </p>
    </div>
    <div class="form-group"  ng-class="{'has-error':userform.repassword.$invalid && userform.repassword.$dirty}">
        <label for="repassword" class="control-label">重复密码</label>
        <input same-password="user.password" id="repassword" type="text" name="repassword" class="form-control" ng-minlength="3" ng-model="user.repassword" ng-required="">

        <p class="help-block" ng-show="userform.repassword.$error.minlength">
            请重新输入密码
        </p>
    </div>

    <div class="form-group">
        <label for="balance" class="control-label">存款</label>
        <input balance type="text" class="form-control" ng-model="user.balance" id="balance" name="balance">
    </div>

    <pre>{{userform | json}}    </pre>

</form>

</body>
<script src="../lib/angular/angular.js"></script>
<script>
angular.module('helloMod', []);

//过滤器服务的名称就是 过滤器名字+Filter
angular.module('helloMod')
    .controller('HelloCtrl', function($scope){
        $scope.user = {};
    })
    .directive('samePassword', function(){
        return {
            require: 'ngModel',
            link: function(scope, elment, attrs, ngModelCtrl){
                //每个属性代表一个验证器
                ngModelCtrl.$validators.validSame = function(modelValue, viewValue){
                    var val = viewValue || modelValue;
                    console.log(val)
//                    return val == scope.user.password;
                    //eval计算表达式的值
                return val == scope.$eval(attrs['samePassword']);
                }

                scope.$watch(function(){
                    return scope.$eval(attrs['samePassword'])
                }, function(newVal, oldVal){
                    console.log(scope.$eval(attrs['samePassword']), scope.user.repassword)
                    /**
                     * 设置字段的有效性
                     */
                    ngModelCtrl.$setValidity('validSame', scope.$eval(attrs['samePassword']) == scope.user.repassword)
                });
            }
        }
    })

    .directive('balance', function(){
        return {
            require: 'ngModel',
            link: function(scope, element, attrs, ngModelCtrl){
                //从视图到模型
                ngModelCtrl.$parsers.push(function(viewValue){
                    return viewValue.slice(1,viewValue.length-1);
                })

                //从模型到视图
                ngModelCtrl.$formatters.push(function(modelValue){
                    return '$'+(modelValue || '');
                })
                //从模型到视图
                ngModelCtrl.$formatters.push(function(modelValue){
                    return (modelValue || '') + '$';
                })
            }
        }
    })



</script>
</html>