<!DOCTYPE html>
<html lang="en" ng-app="helloMod">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
</head>
<body ng-controller="HelloCtrl">
<input type="text" ng-model="query">
<ul>
    <li ng-repeat="phone in phones | filter:query">{{phone.name}}</li>
</ul>
<div >

</div>
</body>
<script src="../lib/angular/angular.js"></script>
<script>
angular.module('helloMod', []);

angular.module('helloMod')
    .controller('HelloCtrl', function($scope){
        $scope.phones = [
            {name:'iphone', price: 1},
            {name:'xiaomi', price: 2},
            {name:'oppo', price: 12},
            {name:'blackberry', price: 3},
        ]

    })

</script>
</html>